
.nav-logo-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-logo {
    height: 100px;
    width: auto;
}
.pfp-container {
    display: flex;
    align-items: center;
    padding-right: 1.875rem; 
}
.pfp-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

nav {
    background-color: var(--Secondair);
    height: 9.375rem;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.nav-text {
    font-size: 2rem;
    color: var(--Text_on_secondair);
    font-weight: bold;
}
.left {
    display: flex;
    flex-direction: row;
    align-items: center;
    right: 1rem;
}
.hamburger {
  width: 2rem;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  padding: 1rem;
  
}

.hamburger span {
  display: block;
  height: 0.25rem;
  width: 100%;
  background: #333;
  margin: 5px 0;
  border-radius: 0.125rem;
  transition: 0.3s;
}

body {
    margin: 0;
    background-color: var(--Primair);
}
.main-layout {
    display: flex;
    flex-direction: row;
}
.content {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.sidebar {
    width: 12.5rem;
    background-color: var(--Secondair);
    display: none;
    flex-direction: column;
    bottom: 0;
    
}
.sidebar input[type='text'] {
    max-width: 8rem;
}
.sidebar fieldset {
    margin: 1rem;

}
.filters {
    display: none;
}
.verander-pagina-content {
    background-color: var(--button);
    color: var(--Text_on_button);
    width: 6rem;
    height: 3.5rem;
    margin: 1rem;
    border-radius: 0.75rem;
}

.veilingen {
    justify-content: center;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    box-sizing: border-box;
}
.card {
    display: flex;
    background-color: var(--button);
    width: 20%;
    height: fit-content;
    border-radius: 0.75rem;
    text-decoration: none;
    flex-direction: column;
    margin: 2rem;
    min-width: 11rem;
    max-width: 15rem;
}

.card p {
    padding-left: 0.625rem;
    color: var(--Text_on_button);
}

a img {
    border-radius: 1.25rem;
}
.toptext {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--Text_on_secondair);
    text-align: center;
}

.aankomende-producten {
    flex: 1 1 0;
    min-width: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--Text_on_primair);
    font-size: 2rem;
}

.aankomende-producten-lijst {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}
.aankomende-producten-voor-locatie {
    background-color: var(--button);
    color: var(--Text_on_button);
    border-radius: 0.75rem;
    max-width: 15rem;
    min-width: 11rem;
    margin: 2rem;
    text-align: center;
    font-size: 1rem;
}
.producten {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}
@media (max-width: 900px) {
    .sidebar {
        position: absolute;
        left: 0;
        top: 9.375rem; 
        width: 100vw;
        height: calc(100vh - 9.375rem); 
        z-index: 1000;
    }
    
}
@media (max-width: 500px) {
    .nav-logo-container img {
        width: 150px;
        height: auto;
    }
    .nav-text {
        font-size: 1.5rem;
    }
}
