.product-card {
    border-radius: 1.5rem;
    background-color: var(--button);
    min-width: 11rem;
    max-width: 15rem;
    height: fit-content;
    margin: 2rem;
}
.image {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
}
.image img {
    width: 9rem;
    height: auto;
    margin: 0.5rem;
}
.info {
    width: 100%;
    height: 50%;
    color: var(--Text_on_button);
}
.info p {
    margin-left: 1rem;
}