.product-card {
    border-radius: 1.5rem;
    background-color: var(--homepage-cards);
    min-width: 11rem;
    max-width: 15rem;
    height: fit-content;
    margin: 2rem;
}
.image {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
}
.image img {
    width: 9rem;
    height: auto;
    max-height: 8rem;
    margin: 0.5rem;
    border-radius: 12px;
}
.info {
    width: 100%;
    height: 50%;
    color: var(--Text_on_button);
}
.info p {
    margin: 1rem;
}
.beschrijving {
    margin: 1rem;
    width: 100%;
    height: 50%;
    color: var(--Text_on_button);
}
.delete-button {
    background-color: var(--button);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    display: block;
    margin: 1rem auto;
}