.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 12.5rem;
    background-color: var(--Secondair);
    flex-direction: column;
    overflow-y: auto;
    display: flex;
    height: 100%;
    top: 1rem;
}
.toptext {
    margin-top: var(--TopbarPadding);
}
.sidebar input[type='text'] {
    max-width: 8rem;
}
.sidebar fieldset {
    margin: 1rem;
    border-radius: 12px;
}
.sidebar fieldset input {
    margin: 0.25rem;
    margin: .25rem;
    border-radius: 12px;
    padding: .25rem;
    background-color: lightgray;
}

.description-button {
    background-color: var(--button);
    height: 4rem;
    width: 9rem;
    border-radius: 12px;
    margin-left: 1rem;
    color: var(--Text_on_button);
}
@media (max-width: 900px) {
    .sidebar {
        width: 100vw;
        z-index: 1;
        display: none;
    }
    
}