.sidebar {
    position: fixed;
    width: 12.5rem;
    background-color: var(--Secondair);
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
    bottom: 0;
}
.toptext {
    margin-top: 9.375rem;
}
.sidebar input[type='text'] {
    max-width: 8rem;
}
.sidebar fieldset {
    margin: 1rem;

}
@media (max-width: 900px) {
    .sidebar {
        width: 100vw;
        z-index: 1;
        display: none;
    }
    
}