.sidebar {
    position: absolute;
    left: 0;
    width: 12.5rem;
    background-color: var(--Secondair);
    flex-direction: column;
    height: max-content;
    overflow-y: auto;
    display: flex;
    padding-bottom: -9.375rem;
}
.toptext {
    margin-top: 9.375rem;
}
.sidebar input[type='text'] {
    max-width: 8rem;
}
.sidebar fieldset {
    margin: 1rem;
}
.sidebar fieldset input {
    margin: 0.25rem;
}
@media (max-width: 900px) {
    .sidebar {
        width: 100vw;
        z-index: 1;
        display: none;
    }
    
}